@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.greeting-container {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
}

.greeting-text {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: var(--color-text-secondary);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-style: italic;
    /* Use italic for more elegance */
    opacity: 0.9;
    margin: 0;
}